@media all and (display-mode: fullscreen) {
  @import "./fullscreen.scss";
}

@media not all and (display-mode: fullscreen) {
  @import "./no-fullscreen.scss";
}

#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}

body {
  font-weight: bold;
  background-color: black;
  color: white;
}

code {
  font-weight: normal;
}

#settings {
  border: 2px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
}

#settings h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: lightgray;
}

.highlight {
  background-color: yellow;
  color: black;
  padding: 0.1em;
  font-weight: normal;
}

.slide img {
  image-orientation: from-image;
}

.input {
  margin: 0.25em 0;
}

.input input {
  margin-left: 0.5em;
}

input:read-only {
  background-color: lightgray;
}

p,
h1,
h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 65ch;
  font-weight: normal;
}

.disclaimer {
  background-color: darkred;
  padding: 0.1em;
  margin: 1em 0;

  a {
    color: gold;
    font-weight: bold;
  }

  a:hover,
  a:active {
    color: cornflowerblue;
  }
}

.hide {
  display: none;
}

.clientStatus {
  margin-left: 1ch;
}

.clientStatus-ok {
  color: lime;
}

.clientStatus-error {
  color: red;
}

.clientStatus-connecting {
  color: darken($color: lime, $amount: 0.5);
}

.clientStatus-disconnected {
  color: crimson;
}

.clientStatus-unknown {
  color: gold;
}

.clientStatus-preparing {
  color: gray;
}
