body {
  color: red;
}

.no-fullscreen {
  display: none;
}

* {
  height: 100%;
}

html,
body {
  overflow-y: hidden;
  cursor: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide,
.slide img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.slide label {
  display: none;
}

.inactive {
  display: none;
}
